<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>WBoard</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="/lib/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/lib/css/mdb.css" rel="stylesheet">
    <style>
        html,
        body,
        header,
        .intro-2 {
            height: 100%;
        }

        @media (max-width: 740px) {

            html,
            body,
            header,
            .intro-2 {
                height: 900px;
            }
        }

        @media (min-width: 800px) and (max-width: 850px) {

            html,
            body,
            header,
            .intro-2 {
                height: 900px;
            }
        }
    </style>
</head>

<body class="creative-lp">

    <!-- Navigation & Intro -->
    <header>

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top scrolling-navbar">
            <div class="container">
                <a class="navbar-brand font-weight-bold title" href="#">WBoard</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto smooth-scroll">
                        <li class="nav-item">
                            <a class="nav-link title" href="#team" data-offset="90">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link title" href="#contact" data-offset="90">Contact</a>
                        </li>
                    </ul>
                    <!-- Social Icon  -->
                </div>
            </div>
        </nav>

        <!--Intro Section-->
        <section class="view intro-2" style="background-image: url('/images/62.jpg');">
            <div class="mask">
                <div class="container h-100 d-flex justify-content-center align-items-center">
                    <div class="row flex-center pt-5 mt-3">
                        <div class="col-md-12 col-lg-6 text-center text-md-left margins">
                            <div class="dark-grey-text">
                                <h1 class="display-4 title mt-md-5 mt-lg-0 font-weight-bold wow fadeIn"
                                    data-wow-delay="0.3s">
                                    <strong>WBoard</strong>
                                </h1>
                                <hr class="hr-light wow fadeIn" data-wow-delay="0.3s">
                                <h6 class="grey-text wow fadeIn" data-wow-delay="0.3s">Realtime Whiteboard Drawing
                                    Collaboration
                                </h6>
                                <br>
                                <!-- <a class="btn btn-white btn-rounded blue-text font-weight-bold ml-lg-0 wow fadeIn"
                                    data-wow-delay="0.3s">Coninue</a> -->
                                <a class="btn pink-gradient white-text btn-rounded font-weight-bold wow fadeIn"
                                    data-wow-delay="0.3s" href="/home">Get Started
                                </a>
                            </div>
                        </div>

                        <div class="col-md-12 col-lg-6 wow fadeIn" data-wow-delay="0.3s">
                            <img src="https://mdbootstrap.com/img/illustrations/graphics(2).png" alt=""
                                class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </header>
    <!-- Navigation & Intro -->
    <!-- Main content -->
    <main class="container" id="team">
        <br>
        <h1>Team</h1>
        <br>
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-4">
                <!-- Card Wider -->
                <div class="card card-cascade wider">

                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                        <img class="card-img-top" src="/images/ashhar.gif" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">

                        <!-- Title -->
                        <h4 class="card-title"><strong>Ashhar Ali</strong></h4>
                        <!-- Subtitle -->
                        <h5 class="blue-text pb-2"><strong>Team lead, Cybersecurity Enthusiast and Python Dev</strong>
                        </h5>
                        <!-- Text -->
                        <p class="card-text">
                            <a href="mailto:aliashhar3@gmail.com" style="color: black;">
                                <i class="fas fa-envelope mr-3"></i> aliashhar3@gmail.com</p></a>
                        <a href="https://www.linkedin.com/in/ashhar-ali-9b4523198/" style="color: black;">
                            <p><i class="fab fa-linkedin mr-3"></i> https://www.linkedin.com/in/ashhar-ali-9b4523198/
                            </p>
                            <a href="https://github.com/nerdynerd09" style="color: black;">
                                <p><i class="fab fa-github mr-3"></i> NerdyNerd09
                                </p>
                            </a>
                            </p>

                    </div>

                </div>
                <!-- Card Wider -->
            </div>
            <div class="col mb-4">
                <!-- Card Wider -->
                <div class="card card-cascade wider">

                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                        <img class="card-img-top" src="/images/purujeet.gif" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">

                        <!-- Title -->
                        <h4 class="card-title"><strong>Purujeet Singh</strong></h4>
                        <!-- Subtitle -->
                        <h5 class="blue-text pb-2"><strong>Python Dev</strong></h5>
                        <!-- Text -->
                        <p class="card-text">
                            <a href="mailto:purujeetsingh69@gmail.com" style="color: black;">
                                <p>
                                    <i class="fas fa-envelope mr-3"></i> purujeetsingh69@gmail.com</p>
                                <a href="https://github.com/puru-exe" style="color: black;">
                                    <p><i class="fab fa-github mr-3"></i> puru-exe
                                    </p>
                                </a>
                        </p>

                    </div>

                </div>
                <!-- Card Wider -->
            </div>
            <div class="col mb-4">
                <!-- Card Wider -->
                <div class="card card-cascade wider">

                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                        <img class="card-img-top" src="/images/sid.gif" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">

                        <!-- Title -->
                        <h4 class="card-title"><strong>Siddhant Sharma</strong></h4>
                        <!-- Subtitle -->
                        <h5 class="blue-text pb-2"><strong>Full Stack Web, Flutter and GameDev</strong></h5>
                        <!-- Text -->
                        <p class="card-text">
                            <a href="mailto:clashassaultyt@gmail.com" style="color: black;">
                                <p>
                                    <i class="fas fa-envelope mr-3"></i> clashassaultyt@gmail.com</p>
                                <a href="https://twitter.com/sidd_astic/" style="color: black;">
                                    <p><i class="fab fa-twitter mr-3"></i> sidd_astic
                                    </p>
                                    <a href="https://github.com/siddastic" style="color: black;">
                                        <p><i class="fab fa-github mr-3"></i> siddastic
                                        </p>
                                    </a>
                        </p>
                    </div>

                </div>
                <!-- Card Wider -->
            </div>
        </div>
    </main>
    <!-- Main content -->

    <!--Footer-->
    <footer class="page-footer text-center text-md-left unique-color-dark pt-0">

        <div class="top-footer-color">
            <div class="container">

                <!--Grid row-->
                <div class="row py-4 d-flex align-items-center">

                    <!--Grid column-->
                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-md-0">
                        <h6 class="mb-0 white-text">Thanks for Visiting !</h6>
                    </div>
                    <!--Grid column-->



                </div>
                <!--Grid row-->
            </div>
        </div>

        <!--Footer Links-->
        <div class="container mt-5 mb-4 text-center text-md-left" id="contact">
            <div class="row mt-3">

                <!--First column-->
                <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                    <h6 class="spacing font-weight-bold">
                        <strong>WBoard</strong>
                    </h6>
                    <hr class="pink accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>WBoard is an online whiteboard which allows all the participants in a room to have their own
                        individual whiteboard where they can create or edit their content, while monitoring others board
                        simultaneously.</p>
                </div>
                <!--/.First column-->

                <!--Fourth column-->
                <div class="col-md-4 col-lg-3 col-xl-3">
                    <h6 class="spacing font-weight-bold">
                        <strong>Contact</strong>
                    </h6>
                    <hr class="pink accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="fas fa-envelope mr-3"></i> team.void1220@gmail.com</p>
                    <p>
                        <i class="fab fa-github mr-3"></i> https://github.com/team-void-code/DSCWOW_WBoard</p>
                </div>
                <!--/.Fourth column-->

            </div>
        </div>
        <!--/.Footer Links-->

        <!-- Copyright -->
        <div class="footer-copyright py-3 text-center wow fadeIn" data-wow-delay="0.3s">
            <div class="container-fluid">
                © 2020 Copyright: <a href="/" id="website_origin">
                    </a>
            </div>
        </div>
        <!-- Copyright -->

    </footer>
    <!--/.Footer-->

    <script type="text/javascript" src="/lib/js/jquery-3.4.1.min.js"></script>
    <!--  Bootstrap tooltips  -->
    <script type="text/javascript" src="/lib/js/popper.min.js"></script>
    <!--  Bootstrap core JavaScript  -->
    <script type="text/javascript" src="/lib/js/bootstrap.min.js"></script>
    <!--  MDB core JavaScript  -->
    <script type="text/javascript" src="/lib/js/mdb.js"></script>
    <script>
        // Animation init
        new WOW().init();
        document.querySelector("#website_origin").innerHTML = location.origin.split("://")[1];
    </script>
</body>

</html>