<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900">
    <!-- Bootstrap core CSS -->
    <link href="/lib/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/lib/css/mdb.css" rel="stylesheet">
    <title>Meeting • WBoard</title>
    <style>
        html,
        body {
            margin: 0px;
            padding: 0px;
        }

        canvas {
            /* border: 2px solid black; */
            border-radius: 25px;
        }
    </style>
    <link rel="stylesheet" href="/css/test.css">
</head>

<body>
    <header></header>
    <center>
        <main>
            <section id="editItems" class="animated-elevation">
                <div id="user-image">
                    <i data-feather="user" class="animate__animated animate__zoomIn"></i>
                </div>
                <br>
                <i data-whiteboard-option data-feather="mouse-pointer"
                    class="animate__animated animate__bounceIn selected" onclick="setDrawOption('mouse',this);"> </i>
                <i data-whiteboard-option data-feather="edit-2" class="animate__animated animate__bounceIn"
                    onclick="setDrawOption('edit',this)"></i>
                <i data-whiteboard-option data-feather="circle" class="animate__animated animate__bounceIn"
                    onclick="setDrawOption('erase',this)"></i>
                <i data-whiteboard-option data-feather="chrome" class="animate__animated animate__bounceIn"
                    onclick="setDrawOption('color',this)"></i>
                <i data-whiteboard-option data-feather="feather" class="animate__animated animate__bounceIn"
                    onclick="setDrawOption('thick',this)"></i>
                <i data-feather="trash" class="animate__animated animate__bounceIn" onclick="clearBoard()"></i>
                <br>
                <i data-feather="power" style="color: red;" onclick="leaveMeeting()"></i>
            </section>
            <section id="canvasImage">
                <center>
                    <div id="canvasContainer" class="animated-elevation"></div>
                </center>
            </section>
            <section id="otherParticipants" class="animated-elevation">

                <div class="animate__animated animate__fadeInUp" id="participantCards">
                    <br><br>

                </div>
            </section>
        </main>
    </center>
    <section>
        <!-- Modal -->
        <div class="modal fade" id="colorPaletteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Pick Color</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="color" style="width: 100%;" value="#ff6347"
                            onchange="changePaintColor(this.value);">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="markerThicknessModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Pen Thickness</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="range-field my-4 w-100">
                            <input type="range" step="0.1" style="width: 100%;" min="1" max="10" value="2"
                                oninput="document.querySelector('#markerThickness').innerHTML = this.value;"
                                onchange="changeMarkerThickness(this.value)" />
                            <p>Thickness : <span id="markerThickness">2</span></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script type="text/javascript" src="/lib/js/jquery-3.4.1.min.js"></script>
<!--  Bootstrap tooltips  -->
<script type="text/javascript" src="/lib/js/popper.min.js"></script>
<!--  Bootstrap core JavaScript  -->
<script type="text/javascript" src="/lib/js/bootstrap.min.js"></script>
<!--  MDB core JavaScript  -->
<script type="text/javascript" src="/lib/js/mdb.js"></script>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-database.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-analytics.js"></script>

<script>
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
        apiKey: "AIzaSyCkVNy6THFaMxgQKiT7RGEIPqdyBJnXVVM",
        authDomain: "wboard-605c1.firebaseapp.com",
        projectId: "wboard-605c1",
        storageBucket: "wboard-605c1.appspot.com",
        messagingSenderId: "651015846008",
        appId: "1:651015846008:web:b92b361d1b7212de31558d",
        measurementId: "G-HEM8Z819S2"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
</script>
<script>
    const meetingId = "<%= meetingId %>";
    const db = firebase.database();
    const dbRef = db.ref(`/meetings/${meetingId}`);
    let authorId = null;
</script>
<script src="/js/whiteboard.js"></script>
<script src="/js/test.js"></script>

</html>