<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <title>Waiting Room</title>
    <link rel="stylesheet" href="/css/waiting.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900">
</head>

<body>
    <main>
        <h1 style="font-weight: 200;">Waiting room</h1>
        <h4 style="color: gray;font-weight: 300;">You can wait here for others to join</h4>
        <br>
        <div>Meeting Code &emsp;<input
                style="color: #EA72FF;padding: 20px;border: 2px solid #EA72FF;user-select:all;outline: none;background-color: transparent;width: 20vw;"
                value="<%= meetingId%>" readonly>
            <button style="background-color: transparent;animation: none;box-shadow: none;border : 2px solid #EA72FF;"
                onclick="copyMeetingId(this)">Copy</button>
        </div>
        <br>
        <br>
        <br>
        <center>
            <img src="/images/loading.gif" width="80%">
        </center>
        <!-- <div>Meeting Link &emsp;<span style="color: #EA72FF;padding: 20px;border: 2px solid #EA72FF;user-select:all;" id="link"></span></div>
        <br><br> -->
        <button onclick="location.href = '/board/<%= meetingId%>'">Continue to board</button>
    </main>
</body>
<script>
    const copyMeetingId = (elem) => {
        var copyText = document.querySelector("input");

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /*For mobile devices*/

        /* Copy the text inside the text field */
        document.execCommand("copy");
        elem.innerText = "Copied";
        setTimeout(() => {
            elem.innerText = "Copy";
        }, 2000);
    }
</script>

</html>