<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waiting...</title>
    <link rel="stylesheet" href="/css/waiting.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900">
</head>
<body>
    <main>
        <h1 style="font-weight: 200;">Waiting room</h1>
        <h4 style="color: gray;font-weight: 300;">Create or join a collaborated meeting</h4>
        <center>
            <img src="/images/loading.gif" width="80%">
        </center>
        <h4 style="color: gray;font-weight: 300;">1 Participant</h4>
        <button onclick="location.href = '/board'">Continue to board</button>
    </main>
</body>
</html>