body {
    background-color: #202020;
    font-family: Montserrat, sans-serif;
    user-select: none;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

button {
    border: none;
    outline: none;
    background-color: #EA72FF;
    color: white;
    padding: 2.5%;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #EA72FF;
    animation: glow 2s infinite alternate;
}

@keyframes glow{
    from {
        box-shadow: 2px 2px 10px #EA72FF;
    }to{
        box-shadow: 2px 2px 30px #EA72FF;
    }
}